<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <main>
        <form action="/register" method="post">
            <div class="form-controller">
                <label for="email">
                    <input type="text" id="email" name="email" placeholder="Digite seu email">
                </label>
            </div>
            <div class="form-controller">
                <label for="password">
                    <input type="password" id="password" name="password" placeholder="Digite sua Senha">
                </label>
            </div>
            <div class="alertResponse"></div>
            <input type="submit" id="btn" value="Cadastrar">
        </form>
    </main>
</body>
<script src="script.js"></script>
</html>